{% extends 'base1.html.twig' %}

{% block title %}
	Liste des missions
{% endblock %}

{% block body %}
	<section>
		<h1 class="text-primary text-center">
			- LISTE DES MISSIONS -
		</h1>
		<br>
		<div class="row justify-content-center">
			<div class="col-6">
				{% if app.user and 'ROLE_EMP' in app.user.roles %}
					<a href="{{path('mission_new')}}">
						Déposer une mission
					</a>
				{% endif %}
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Titre
							</th>
							<th scope="col">
								Date création
							</th>
							{% if app.user %}
								<th scope="col">Action</th>
							{% endif %}
						</tr>
					</thead>
					<tbody>
						{% for mission in missions %}
							<tr>
								<td>{{mission.id}}</td>
								<td>{{mission.title}}</td>
								<td>{{mission.createdAt | date('d-m-Y')}}</td>
									<td>
								{% if app.user and 'ROLE_ADMIN' in app.user.roles %}
										<a href="{{path('mission_edit', {id: mission.id})}}">edit</a>
										&nbsp
										<a href="{{path('mission_delete', {id: mission.id})}}">delete</a>
										&nbsp
								{% endif %}
										<a href="{{path('mission_show', {id: mission.id})}}">Show</a>
										&nbsp
									</td>

							</tr>
						</tbody>
					{% endfor %}

				</tbody>
			</table>
		</div>

	</div>

</div></section>{% endblock %}
