{% extends 'base1.html.twig' %}

{% block title %}
    Modifier un utilisateur
{% endblock %}

{% block body %}
<section>
    <h1 class="text-primary text-center"> - MODIFIER UN UTILISATEUR - </h1>
    <br><br>
    <div class="row justify-content-center">
        <div class="col-md-4">
            {{ form_start(form) }}
            {{ form_row(form.fullName)}}
            {{ form_row(form.email) }}
            {{ form_row(form.phone)}}
            {{ form_row(form.password)}}
            {{ form_row(form.roles)}}
            {{ form_row(form.submit)}}
            {{ form_end(form) }}
        </div>  
    </div>
    </div>
</section>
{% endblock %}
