{% extends 'base1.html.twig' %}

{% block title %}
	Liste des utilisateurs
{% endblock %}

{% block body %}
	<section>
		<h1 class="text-primary text-center">
			- LISTE DES UTILISATEURS-
		</h1>
		<br>
		<div class="row justify-content-center">
			<div class="col-6">
				<a href="{{path('user_new')}}">
					Ajouter une utilisateur
				</a>
				<table class="table">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Nom & prénom
							</th>
							<th scope="col">Email
							</th>
							<th scope="col">Telephone
							</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<tr>
								<td>{{user.id}}</td>
								<td>{{user.fullname}}</td>
								<td>{{user.email}}</td>
								<td>{{user.phone}}</td>

								{% if app.user and 'ROLE_ADMIN' in app.user.roles %}
									<td>
										<a href="{{path('user_edit', {id: user.id})}}">edit</a>
										&nbsp
										<a href="{{path('user_delete', {id: user.id})}}">delete</a>
										&nbsp
										<a href="{{path('user_show', {id: user.id})}}">show</a>
										&nbsp
									</td>
								{% endif %}
							</tr>
						</tbody>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

</div></section>{% endblock %}
